name: CI/CD Pipeline

on:
  push:
    branches: [ "main","master" ]
  pull_request:
    branches: [ "main","master"  ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Installation des dépendances
        run: pip install -r requirements.txt

      - name: Test de syntaxe Python
        run: python -m py_compile app.py

      - name: Connexion à Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construction et push de l’image Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mini-api:latest
